@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.loading-page {
  @apply w-full h-screen flex flex-col flex-1 justify-center items-center;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

